{% extends 'base.html' %}
{% load static %}

  {% block title %}
    {{ post.title }}
  {% endblock %}

  {% block body %}
  <div class="col-md-8">

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'view_profile' %}">{{ post.author }}</a>

            {% if request.user == post.author %}
            <a class = "btn btn-outline-danger mr-1 float-right" href="{% url 'post_delete' slug=post.slug %}" >Delete Post</a>
            <a class = "btn btn-outline-secondary mr-1 float-right" href="{% url 'post_update' slug=post.slug %}" >Update Post</a>
            {% endif %}

            <div>
              <small class="text-muted">{{ post.date }}</small>
            </div>
        </div>
        {% if post.thumbnail %}
        <img class ="article-img" src="{{ post.thumbnail.url }}">
        {% endif %}
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.body }}</p>
      </div>
    </article>
  </div>
  
  {% endblock %}