{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Blog app - Password Reset
{% endblock %}

{% block body %}
  <br>
  <main role="main" class="container" >
    <div class="row">
      <div class="col-md-6">
        <div class="content-section">
          <form method="post">
            <legend>Password Reset Form</legend>
            {% csrf_token%}
            {{form|crispy}}   
            <button class = "btn btn-outline-secondary" type="submit" >Reset Password</button>
          </form>
        </div>
      </div>
  </main>
{% endblock %}